[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/wxWidgets"]
	path = lib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/libremidi"]
	path = lib/libremidi
	url = https://github.com/jcelerier/libremidi.git
